<div id="autoComplete"></div>
<script type="text/jsx">
	var InputText = React.createClass({
		render: function() {
			var input;
			if (!this.props.chosenText) {
				input = <input type="text" value={this.state.value} onChange={this.handleChange} />
			}
			else {
				input = <input type="text" value={this.props.chosenText} onChange={this.handleChange} />
			}
			return (
				<form>
					{input}
				</form>
			);
		},
		getInitialState: function() {
			return {
				value: ''
			}
		},
		handleChange: function(e) {
			this.setState({value: e.target.value});
			this.props.handleInput(e.target.value);
		}
	});
	var AutoCompleteSection = React.createClass({
		render: function() {
			return (<div className="autoCompleteSection" onClick={this.handleClick}>{this.props.section}</div>);
		},
		handleClick: function() {
			this.props.handleClick(this.props.section)
		}
	});
	var AutoCompleteContent = React.createClass({
		render: function() {
			var arr = [];
			this.props.results.forEach(function(result) {
				arr.push(<AutoCompleteSection section={result} handleClick={this.props.handleClick} />)
			}.bind(this))
			return (
				<div id="autoCompleteContent">
					{arr}
				</div>
			)
		}
	});
	var AutoCompleteApp = React.createClass({
		render: function() {
			var results = [];
			if (this.state.searchText) {
				this.props.data.forEach(function(item) {
					if (item.indexOf(this.state.searchText) !== -1) {
						results.push(item);
					}
				}.bind(this))
			}
			return (
				<div>
					<InputText handleInput={this.handleChange} searchText={this.state.searchText} chosenText={this.state.chosenText} ref="inputText" />
					<AutoCompleteContent results={results} chosenText={this.state.chosenText} handleClick={this.handleClick} />
				</div>
			)
		},
		getInitialState: function() {
			return {
				searchText: '',
				chosenText: ''
			}
		},
		handleChange: function(text) {
			this.setState({
				searchText: text,
				chosenText: ''
			})
		},
		handleClick: function(text) {
			this.setState({
				searchText: text,
				chosenText: text
			})
		}
	})
	React.render(<AutoCompleteApp data={['abadon', 'abc', 'apple', 'test', 'fun', 'hhh']} />, document.getElementById("autoComplete"));
</script>