<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<div id="login-form-container" class="container-fluid">
  <div id="login-form" class="col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-md-6 col-sm-6 col-xs-6">
    <div class="col-md-12 col-xs-12 col-xs-12 text-center" id="login-form-title">
      <h1>登录</h1>
    </div>
    <div id="login"></div>
    <!-- <form class="form-horizontal">
      <div class="form-group">
        <label for="admin" class="control-label col-md-4 col-sm-4 col-xs-4">账户名：</label>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <input type="text" class="form-control" id="admin" name="admin" placeholder="admin">
        </div>
      </div>
      <div class="form-group">
        <label for="psw" class="control-label col-md-4 col-sm-4 col-xs-4">密码：</label>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <input type="password" class="form-control" id="psw" name="psw" placeholder="password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-md-6 col-sm-6 col-xs-6">
          <button type="submit" class="btn btn-primary" style="width: 100%">登陆</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </form> -->
  </div>
  <script type="text/jsx">
    (function() {
      var InputFormGroup = React.createClass({
        render: function() {
          return (
            <div className="form-group">
              <label htmlFor={this.props.inputName} className="control-label col-md-4 col-sm-4 col-xs-4">{this.props.labelName}</label>
              <div className="col-md-6 col-sm-6 col-xs-6">
                <input type={this.props.typeName} className="form-control" id={this.props.inputName} name={this.props.inputName} placeholder={this.props.inputName} />
              </div>
            </div>
          )
        }
      });
      var SubmitBtn = React.createClass({
        render: function() {
          return (
             <div className="form-group">
              <div className="col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-md-6 col-sm-6 col-xs-6">
                <button type="submit" className="btn btn-primary" style={{width: '100%'}}>登陆</button>
              </div>
            </div>
          )
        }
      });
      var FormGroup = React.createClass({
        render: function() {
          return (
            <form className="form-horizontal">
              <InputFormGroup inputName="admin" labelName="账户名" typeName="text" />
              <InputFormGroup inputName="password" labelName="密码" typeName="password" />
              <SubmitBtn />
              <div className="clearfix"></div>
            </form>
        );
        },
        handleSubmit: function() {},
        checkInput: function() {}
      })
      React.render(<FormGroup />, document.getElementById('login'))
    })()
    // var login = (function($){
    //     var jqueryMap, checkData, submitForm, initModule;
    //     //jquery Map
    //     jqueryMap = {};

    //     //ajax methods
    //     submitForm = function() {
    //         var username = jqueryMap.$userInput.val(),
    //             password = jqueryMap.$userPsw.val();
    //         if (checkData(username, password)) {
    //             $.post('/login', {username: username, password: password}, function(data) {
    //                 if (data.success) {
    //                     window.location.href = '/blankmanp/manage';
    //                 }
    //                 else {
    //                     alert(data.info);
    //                     return false;
    //                 }
    //             })
    //         }
    //     };

    //     //public methods
    //     checkData = function(username, password) {
    //         if (!username) {
    //             alert("用户名不可为空！");
    //             return false;
    //         }
    //         else if (!password) {
    //             alert('密码不可为空！');
    //             return false;
    //         }
    //         else if (username.length > 16 || password.length > 16) {
    //             alert("输入字段过长！");
    //             return false;
    //         }
    //         return true;
    //     };

    //     initModule = function($container) {
    //       jqueryMap = {
    //           $container: $container,
    //           $userForm: $container.find('form'),
    //           $userInput: $container.find("input[name=admin]"),
    //           $userPsw: $container.find("input[type=password]")
    //       };
    //       jqueryMap.$userForm.submit(function(e) {
    //           e.preventDefault();
    //           submitForm();
    //       })
    //     };

    //     initModule($("#login-form-container"));
    // }(jQuery))
  </script>
</div>