<header id="manage-header">
  <div id="manage-header-content" class="center-block">
    <div id="manage-header-title" class="text-center pull-left">
      <h3>Blankmanp's Blog Manage System</h3>
    </div>
    <div id="manage-header-option" class="pull-right">
      <%= image_tag 'blogIcon.jpg', :class => 'img-circle pull-left', :width => '60' %>

    </div>
    <div class="clearfix"></div>
  </div>
</header>