body {
	height: 100%;
	font-family: 'Shadows Into Light';
	background-color: #eee;
}
#homeContainer {
	height: 100%;
}
#homeTitle {
	width: 180px;
	height: 100%;
	margin-top: 20%;
	float: left;
}
#homeTitle h1 {
	margin-top: 0;
	font-family: "Indie Flower";
	font-size: 40px;
}
#homeTitle img {
	width: 120px;
	margin-left: 20px;
	border-radius: 50%;
}
#homeMenu {
	height: 100%;
	width: 400px;
	float: right;
}
#homeMenu ul {
	list-style: none;
}
#menuClass>li:before {
	content: " ";
	display: block;
	width: 350px;
	height: 1px;
	margin: 20px 0 -35px -370px;
	background: #aaa;
}
#menuClass>li:first-child {
	padding-top: 10px;
}
#menuClass>li:last-child {
	padding-top: 102px;
}
#menuClass>li {
	padding-top: 29%;
	padding-bottom: 33.44%;
	font-size: 25px;
}
#menuClass div {
	display: inline-block;
}
#menuClass h1:after {
	content: "/";
	margin-left: 10px;
	color: #ccc;
}
#menuClass h1 {
	display: inline-block;
	font-size: 25px;
}
#menuClass a {
	text-decoration: none;
}
.menuContent {
	width: 400px;
	margin-left: -80px;
	position: absolute;
}
.pull {
	display: inline-block;
}
.pullCircle {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #aaa;
}
.pullCircle:before {
	float: left;
	content: " ";
	display: block;
	width: 300px;
	height: 1px;
	margin: 20px 10px;
	background: #aaa;
}
#pull1:before {
	width: 355px;
	margin: 0 10px;
	transform: rotate(103.5deg);
	transform-origin: 0;
	-ms-transform: rotate(103.5deg);
	-ms-transform-origin: 0;
	-moz-transform: rotate(103.5deg);
	-moz-transform-origin: 0;
	-webkit-transform: rotate(103.5deg);
	-webkit-transform-origin: 0;
	-o-transform: rotate(103.5deg);
	-o-transform-origin: 0;
}
#pull2:before {
	width: 255px;
	margin: 0 10px;
	transform: rotate(90deg);
	transform-origin: 0;
	-ms-transform: rotate(90deg);
	-ms-transform-origin: 0;
	-moz-transform: rotate(90deg);
	-moz-transform-origin: 0;
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: 0;
	-o-transform: rotate(90deg);
	-o-transform-origin: 0;	
}
#pull3:before {
	width: 350px;
	margin: 20px 10px;
	transform: rotate(75deg);
	transform-origin: 0;
	-ms-transform: rotate(75deg);
	-ms-transform-origin: 0;
	-moz-transform: rotate(75deg);
	-moz-transform-origin: 0;
	-webkit-transform: rotate(75deg);
	-webkit-transform-origin: 0;
	-o-transform: rotate(75deg);
	-o-transform-origin: 0;	
}
.pullCircle:nth-child(1) {
	transform: rotate(30deg);
	transform-origin: 45px 450px;
	-ms-transform: rotate(30deg);
	-ms-transform-origin: 45px 450px;	
	-moz-transform: rotate(30deg); 	
	-moz-transform-origin: 45px 450px;
	-webkit-transform: rotate(30deg); 
	-webkit-transform-origin: 45px 450px;
	-o-transform: rotate(30deg);
	-o-transform-origin: 45px 450px;
}
.pullCircle:nth-child(2) {
	transform: rotate(90deg);
	transform-origin: -30px 260px;
	-ms-transform: rotate(90deg);
	-ms-transform-origin: -30px 260px;	
	-moz-transform: rotate(90deg); 
	-moz-transform-origin: -30px 260px;
	-webkit-transform: rotate(90deg); 
	-webkit-transform-origin: -30px 260px;
	-o-transform: rotate(90deg);
	-o-transform-origin: -30px 260px;
}
.pullCircle:nth-child(3) {
	transform: rotate(150deg);
	transform-origin: 35px 310px;
	-ms-transform: rotate(150deg);
	-ms-transform-origin: 35px 310px;	
	-moz-transform: rotate(150deg); 	
	-moz-transform-origin: 35px 310px;
	-webkit-transform: rotate(150deg); 
	-webkit-transform-origin: 35px 310px;
	-o-transform: rotate(150deg);
	-o-transform-origin: 35px 310px;
}
.menuContentLi:after {
	margin-left: 10px;
	content: '/';
	color: #ddd;
}


/* CONTENT PAGE */
#content {
	margin-top: 20px;
}
.content-paper {
	padding: 10px;
	padding-top: 1px;
	min-height: 100px;
	background-color: #fff;
	border-radius: 5px;
}


/* login page */
#login-form-container {
	margin-top: 15%;
}
#login-form {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
}